.completion {
    border: thin solid #aaa;
    display: inline-block;
    width: 400px;
    min-height: 30px;
    vertical-align: text-top;
    font-family: arial;
    font-size: 16px;
    padding: 2px;
}
.completion input {
    line-height: 23px;
    border: none;
    outline: none;
    font-family: arial;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.completion .item {
    padding: 2px 4px;
    margin: 2px;
    border: thin solid #bbb;
    background-color: #eee;
    display: inline-block;
}

.completion .item .label {
    margin-right: 3px;
}

.completion .item .remove {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(remove.png);
    display: inline-block;
    height: 8px;
    width: 8px;
    cursor: pointer;
}

.time-input, .time-dropdown {
    width: 180px;
}

.time-dropdown {
    max-height: 200px;
    overflow-y: auto;
}
