body {
    padding-bottom: 200px;
}

.completion {
    border: thin solid #aaa;
    display: inline-block;
    width: 400px;
    min-height: 30px;
    vertical-align: text-top;
    font-family: arial;
    font-size: 16px;
    padding: 2px;
}
.completion input {
    line-height: 23px;
    border: none;
    outline: none;
    font-family: arial;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.completion .item {
    padding: 2px 4px;
    margin: 2px;
    border: thin solid #bbb;
    background-color: #eee;
    display: inline-block;
}

.completion .item .label {
    margin-right: 3px;
}

.completion .item .remove {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(remove.png);
    display: inline-block;
    height: 8px;
    width: 8px;
    cursor: pointer;
}

.time-input, .time-dropdown {
    width: 180px;
}

.time-dropdown {
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.after-container {
    position: relative;
    width: 200px;
}
.after-container .after-menu {
    border: 1px solid #82bed6;
    margin: -1px 0 0 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.1);
}
.after-container .after-menu li {
    background-color: #fff;
    padding: 0.5em 0.8em;
}
.after-container input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}
.after-container input:focus {
    outline: none;
    border: 1px solid #82bed6;
}
